.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* sm: 640px and up */
@media (min-width: 640px) {
  .swiper {
    height: 350px;
  }
}

/* md: 768px and up */
@media (min-width: 768px) {
  .swiper {
    height: 400px;
  }
}

/* lg: 1024px and up */
@media (min-width: 1024px) {
  .swiper {
    height: 500px;
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  user-select: none; /* Evita la selección de texto */
  -webkit-user-select: none; /* Para navegadores basados en WebKit */
  -moz-user-select: none; /* Para Firefox */
  -ms-user-select: none; /* Para Internet Explorer/Edge */
}

.mySwiper {
  height: 15%;
  box-sizing: border-box;
  padding: 10px 0;
}

/* sm: 640px and up */
@media (min-width: 640px) {
  .mySwiper {
    height: 18%;
  }
}

/* md: 768px and up */
@media (min-width: 768px) {
  .mySwiper {
    height: 20%;
  }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 80px;
  opacity: 0.4;
}

/* sm: 640px and up */
@media (min-width: 640px) {
  .mySwiper .swiper-slide {
    height: 100px;
  }
}

/* md: 768px and up */
@media (min-width: 768px) {
  .mySwiper .swiper-slide {
    height: 125px;
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
